*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
 }

:root {
  --cloud-color: #f4f4fd;
  --navy-color: #2e2f42;
  --white-color: #ffffff;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --slate-color: #434455;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*Header container*/

.header {
  border-bottom: 1px solid #E7E9FC;
  }
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 24px 0;
  margin-right: 76px;
  align-items: center;
}

.logo-text {
 color: var(--navy-color);
}

.page-nav {
  display: flex;
  gap: 40px;
}

.list {
  list-style: none;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--navy-color);
  letter-spacing: 0.02em;
  align-items: center;
  padding: 24px 0;
  display: block;
}

.link {
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean-color);
}

.address {
  font-style: normal;
  margin-left: auto;
 }

.address-list .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  text-decoration: none;
  list-style: none;
  align-items: center;
  display: block;
  padding: 24px 0;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list .link:hover,
.address-list .link:focus,
.address-list .link:active {
  color: var(--ocean-color);
}

/*Solutions for bussiness*/

.effective-solutions {
  background-color: var(--navy-color);
  padding: 188px 0;
}

.effective-solutions-container {
  text-align: center;
  width: 1128px;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
  max-width: 496px;
  margin-bottom: 48px;
  margin: 0 auto;
  }

.button-service {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris-color);
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  margin-top: 48px;
  }

.button-text {
  color: var(--white-color);
}

.button-service:hover,
.button-service:focus {
  background-color: var(--ocean-color);
}

/*Business characteristics*/

.business {
  background-color: var(--white-color);
  padding: 120px 0;
  margin: 0 auto;
}

.features-container {
  flex-wrap: wrap;
  flex-direction: column;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.business-list {
  display: flex;
  gap: 24px;
}

.business-item {
  flex-basis: calc((100% - 3*24px)/4);
}

.about-business {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;
}

.business-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/*Our work*/
.work {
  background-color: var(--white-color);
  padding-bottom: 120px;
 }

.work-section-container {
  width: 1158px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-color);
  margin-bottom: 72px;
}

.work-list {
  display: flex;
  gap: 24px;
}

.work-item {
 width: calc((100% - 48px)/3);
}

.work-list-item-img {
  display: block;
}

/*Team*/

.team {
  background-color: var(--cloud-color);
  padding: 120px 0;
}

.team-card-container {
  justify-content: center;
}

.team-our-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-color);
  margin-bottom: 72px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-color);
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-color);
  width: calc((100% - 3*24px)/4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text-container {
  padding: 32px 16px;
}

.team-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  }

.team-list-item-img {
  display: block;
}

/*Footer*/

.page-footer {
  background-color: var(--navy-color);
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
  color: var(--iris-color);
}

.footer-logo-text {
  color: var(--cloud-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud-color);
  max-width: 264px;
}

/*Projects*/

.projects {
 padding-top: 96px;
 padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.button-list {
  background-color: var(--white-color);
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.button-color {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background-color: var(--cloud-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  border: 1px solid #E7E9FC;
  padding: 12px 24px;
  display: block;
}

.button-color:hover,
.button-color:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
  border: 1px solid transparent;
}

.link {
  text-decoration: none;
}

.project-card-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
 }

.card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-item {
  width: calc((100% - 48px) / 3);
 }

.project-card-img {
  border: none;
  display: block;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}